html,
body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.buttons
{
    position: absolute;
    z-index: 2;
    top: 100px;
    left: 100px;
    width: 320px;
}

.buttons div
{
    padding: 10px;
    font-size: 30px;
    border-radius: 5px;
}

.state,
.navigate
{
    border-radius: 10px;
    border: 1px solid #1e88e5;
    padding: 5px;
}

.buttons .satiety
{
    border: 1px solid #00bcb8;
    color: #00bcb8;
}

.buttons .mood
{
    border: 1px solid #fa9632;
    color: #fa9632;
    margin-bottom: 10px;
}

.buttons .energy
{
    border: 1px solid #ffd700;
    color: #ffd700;
    margin-bottom: 10px;
}

.navigate
{
    margin-top: 30px;
}

.navigate .begin-again
{
    border: 1px solid #ff4444;
    color: #ff4444;
    margin-bottom: 10px;
}

.navigate .give-food
{
    border: 1px solid #00bcb8;
    color: #00bcb8;
}

#tear-1,
#tear-2,
#sleep,
#tears
{
    opacity: 0;
}

.eat
{
    position: absolute;
    top: 405px;
    left: 530px;
    width: 80px;
    height: 80px;
    opacity: 0;
}

.speech-log,
.die-log
{
    position: absolute;
    top: 100px;
    left: 500px;
    font-size: 30px;
    color: #ff4040;
    display: block;
}

.die-log
{
    display: none;
}